{% extends "layout.njk" %}
{% import "macros.njk" as m %}
{% block main %}
<main id="sw-guestbook">
  <header class="sw-article-head">
    <div class="cover" aria-hidden="true"></div>
    <div class="inner">
      <a class="sw-crumb" href="/">swarea</a>
      <h1>Guestbook</h1>
    </div>
  </header>
  <section class="sw-comments" aria-label="Guestbook">
    <form class="sw-cbox" onsubmit="return false">
      <label class="sw-sr" for="sw-guest-text">Write a guestbook entry</label>
      <textarea id="sw-guest-text" placeholder="Leave a message"></textarea>
      <div class="cfields">
        <label class="sw-sr" for="sw-guest-name">Name</label><input id="sw-guest-name" placeholder="Name" autocomplete="name">
        <label class="sw-sr" for="sw-guest-pw">Password</label><input id="sw-guest-pw" type="password" placeholder="Password" autocomplete="off">
        <button type="submit" class="submit">Post</button>
      </div>
    </form>
    {% for c in guestbook %}{{ m.comment(c) }}{% endfor %}
  </section>
</main>
{% endblock %}
