{% extends "layout.njk" %}
{% block main %}
<main>
<article id="quiet-page">
  <header class="quiet-article-head">
    <div class="cover" aria-hidden="true"></div>
    <div class="inner">
      <h1>{{ page.title }}</h1>
    </div>
  </header>
  <div class="quiet-article-body">
    {{ page.body | safe }}
  </div>
  <div style="height:2.5rem"></div>
</article>
</main>
{% endblock %}
